header {
    background-color: #6B1A34;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;    /* quita los puntos */
    margin: 0;
    padding: 0;
    display: flex;       /* pone los links en horizontal */
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #aaa;
}